* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100vh;
    background-color: #252e35;
}

.container {
    max-width: 1200px;
    margin: 15px auto;
}

/* Header */
header {
    width: 100%;
    background-color: #fff;
}

header nav {
    gap: 20px;
    display: flex;
    height: 100%;
    width: 100%;
    padding: 20px;
}

header nav a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
    border-bottom: transparent 1px solid;
    cursor: pointer;
}

header nav a:hover {
    border-bottom: 1px solid #000;
}

/* Main */
main {
    display: flex;
    flex-wrap: wrap;
}

/* Img */
img {
    width: 800px;
    object-fit: cover;
}

/* Article */
article {
    background-color: #00000028;
    width: 400px;
    float: right;
    padding: 20px;
    height: 100%;
}

article h1, h2 {
    color: #cad80b;
    border-bottom: 1px solid #cad80b;
    margin-bottom: 10px;
    font-weight: 500;
}

article p {
    border-bottom: 1px solid #cccccc5d;
    color: #fff;
    line-height: 25px;
    margin-top: 10px;
    font-weight: 400;
    padding: 5px 0;
}

article p:last-child{
    line-height: 30px;
    text-justify: auto;
    border-bottom: none;
}

/* Section */
section {
    background-color: #fff;
    width: 800px;
    padding: 40px;
}

section h1 {
    color: #000;
    font-size: 2em;
    margin-bottom: 20px;
}

section p{
    margin-bottom: 10px;
    line-height: 40px;
    font-size: 1.5em;
    font-weight: 300;
}